<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <title>未找到 - 錯誤頁面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
    <div id="notFoundContainer" class="row align-items-center justify-content-center g-0 gy-3 p-3">
        <div class="col-md-11">
        	<div class="row align-items-center justify-content-center">
        		<div class="col-4 offset-xs-4">
		            <h1>未找到 - 錯誤頁面</h1>
        		</div>
        	</div>
        </div>
    </div>
</body>
</html>