<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body th:fragment="questionList">
   	<p th:if="${questionListModel == null or questionListModel.empty or questionListModel[0].areAllQuestionSessionListIsDeleted(questionListModel)}">尚未有資料。</p>
	
	<table th:if="${questionListModel != null and !questionListModel.empty and !questionListModel[0].areAllQuestionSessionListIsDeleted(questionListModel)}"
		class="table table-bordered w-auto">
        <thead>
            <tr>
                <th scope="col">
                </th>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    問題
                </th>
                <th scope="col">
                    種類
                </th>
                <th scope="col">
                    必填
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody th:each="question, questionStat : ${questionListModel}">
			<tr th:if="${!question.getIsDeleted()}">
				<td>
					<input th:id="${question.getQuestionId()}" 
						th:disabled="${isOverDateOrHasUser != null and isOverDateOrHasUser}" 
						type="checkbox" />
				</td>
				<td>
					[[${questionStat.index + 1}]]
				</td>
				<td>
					[[${question.getQuestionName()}]]
				</td>
				<td>
					[[${question.getQuestionTyping()}]]
				</td>
				<td>
					<input type="checkbox" style="pointer-events: none;" th:checked="${question.getQuestionRequired()}" />
				</td>
				<td>
					<th:block th:if="${dataListModel.isQuestionnaire}">
						<a th:onclick="javascript:void(0)"
							th:id="'aLinkUpdateQuestion-' + ${question.getQuestionId()}"
							th:href="'#QuestionID=' + ${question.getQuestionId()}"
							th:style="${isOverDateOrHasUser != null and isOverDateOrHasUser ? 'pointer-events: none;' : ''}"
						>
							編輯
						</a>
					</th:block>
					
					<th:block th:if="${!dataListModel.isQuestionnaire}">
						<a th:onclick="javascript:void(0)"
							th:id="'aLinkUpdateQuestionOfCommonQuestion-' + ${question.getQuestionId()}"
							th:href="'#QuestionIDOfCommonQuestion=' + ${question.getQuestionId()}"
						>
							編輯
						</a>
					</th:block>
				</td>
			</tr>
		</tbody>
    </table>
</body>
</html>