<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body th:fragment="questionnaireStatistics">
   	<p th:if="${questionnaireModel == null}">
   		尚未有使用者的回答。
	</p>
	
	<div th:if="${questionnaireModel != null}" 
		id="questionnaireStatisticsContainer">
		<div class="row align-items-center justify-content-center gy-3 gy-md-5">
            <div class="col-md-10">
                <div class="d-flex align-items-center justify-content-center">
                    <h1>[[${questionnaireModel.caption}]]</h1>
                </div>
            </div>

            <div class="col-md-10">
                <div id="divQuestionnaireStatisticsContainer"></div>
            </div>
        </div>
	</div>
</body>
</html>